.network-password-card {
    background: var(--bg-elevated);
    border-radius: var(--rounding-container);
    padding: var(--space-sm);
    margin-bottom: var(--space-sm);
}

.network-password-header {
    margin-bottom: var(--space-sm);
}

.network-password-name {
    font-size: var(--text-md);
    font-weight: var(--weight-bold);
    color: var(--fg-default);
}

.network-password-security {
    font-size: var(--text-md);
    font-weight: var(--weight-medium);
    color: var(--fg-subtle);
}

button.network-password-close {
    border-radius: var(--rounding-element);

    image {
        -gtk-icon-size: var(--icon-sm);
        color: var(--fg-subtle);
    }

    &:hover image {
        color: var(--fg-default);
    }
}

entry.network-password-input {
    margin-top: var(--space-sm);

    > text {
        padding: calc(var(--space-sm) + var(--space-xs)) 0;
        margin-left: 0;
    }

    > image {
        color: var(--fg-subtle);
        -gtk-icon-size: var(--icon-md);
    }
}

.network-password-error {
    font-size: var(--text-base);
    font-weight: var(--weight-medium);
    color: var(--status-error);
    margin: var(--space-xs);
}

.network-password-actions {
    margin-top: var(--space-sm);

    button + button {
        margin-left: var(--space-sm);
    }
}
