.switch {
  --puck-shadow: 0 0 0.5rem 0.15rem rgba(0, 0, 0, 0.4);

  all: unset;
  border-radius: var(--rounding-element);
  background: var(--bg-active);
  min-width: 2.5rem;
  min-height: 1.375rem;
  transition: background var(--duration-fast);


  image {
    min-width: 0;
    min-height: 0;
    opacity: 0;
  }

  slider {
    margin: 0.15rem;
    box-shadow: var(--puck-shadow);
    background: var(--fg-default);
    border-radius: var(--rounding-element);
  }

  &:checked {
    background: var(--accent);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:checked:disabled {
    opacity: 0.5;
  }

  &:focus-visible {
    outline: var(--focus-ring-width) solid var(--accent);
    outline-offset: 0.125rem;
  }
}
