@mixin switch-base {
    --puck-shadow: 0 0 calc(0.5rem * var(--global-scale)) calc(0.15rem * var(--global-scale))
        rgba(0, 0, 0, 0.4);

    all: unset;
    border-radius: var(--rounding-element);
    background: var(--bg-active);
    min-width: calc(2.5rem * var(--global-scale));
    min-height: calc(1.375rem * var(--global-scale));
    transition: background var(--duration-fast);

    image {
        all: unset;
        min-width: 0;
        min-height: 0;
        opacity: 0;
    }

    slider {
        all: unset;
        min-width: calc(1.1rem * var(--global-scale));
        min-height: calc(1.1rem * var(--global-scale));
        margin: calc(0.15rem * var(--global-scale));
        box-shadow: var(--puck-shadow);
        background: var(--fg-default);
        border-radius: var(--rounding-element);
    }

    &:checked {
        background: var(--accent);
    }

    &:disabled {
        opacity: 0.5;
    }

    &:checked:disabled {
        opacity: 0.5;
    }

    &:focus-visible {
        outline: var(--focus-ring-width) solid var(--accent);
        outline-offset: calc(0.125rem * var(--global-scale));
    }
}
