.progress-ring {
    all: unset;

    min-width: calc(2.5rem * var(--global-scale));
    min-height: calc(2.5rem * var(--global-scale));

    .ring-text {
        font-size: var(--text-sm);
        font-weight: var(--weight-bold);
        color: var(--fg-default);
    }

    &.sm {
        min-width: calc(2rem * var(--global-scale));
        min-height: calc(2rem * var(--global-scale));

        .ring-text {
            font-size: var(--text-xs);
        }
    }

    &.md {
        min-width: calc(3rem * var(--global-scale));
        min-height: calc(3rem * var(--global-scale));

        .ring-text {
            font-size: var(--text-md);
        }
    }

    &.lg {
        min-width: calc(4rem * var(--global-scale));
        min-height: calc(4rem * var(--global-scale));

        .ring-text {
            font-size: var(--text-md);
        }
    }

    &.xl {
        min-width: calc(5rem * var(--global-scale));
        min-height: calc(5rem * var(--global-scale));

        .ring-text {
            font-size: var(--text-lg);
        }
    }

    &.xxl {
        min-width: calc(6rem * var(--global-scale));
        min-height: calc(6rem * var(--global-scale));

        .ring-text {
            font-size: var(--text-lg);
        }
    }

    &.xxxl {
        min-width: calc(7rem * var(--global-scale));
        min-height: calc(7rem * var(--global-scale));

        .ring-text {
            font-size: var(--text-xl);
        }
    }
}

.progress-ring-canvas {
    border-style: solid;
    border-color: transparent;
    border-width: calc(3px * var(--global-scale));
    color: var(--accent);

    &.success {
        color: var(--status-success);
    }

    &.warning {
        color: var(--status-warning);
    }

    &.error {
        color: var(--status-error);
    }

    &.sm {
        border-width: calc(2px * var(--global-scale));
    }

    &.md {
        border-width: calc(3px * var(--global-scale));
    }

    &.lg {
        border-width: calc(4px * var(--global-scale));
    }

    &.xl {
        border-width: calc(5px * var(--global-scale));
    }

    &.xxl {
        border-width: calc(6px * var(--global-scale));
    }

    &.xxxl {
        border-width: calc(7px * var(--global-scale));
    }
}
