[package]
name = "wayle-traits"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
repository.workspace = true
license.workspace = true

[dependencies]

[lints]
workspace = true
