@mixin scale-base {
    all: unset;

    trough {
        background: var(--bg-active);
        border-radius: calc(0.25rem * var(--global-scale));
        min-height: calc(0.5rem * var(--global-scale));
        min-width: calc(10rem * var(--global-scale));
        border: none;

        highlight {
            border: none;
            background: var(--accent);
            border-radius: calc(0.25rem * var(--global-scale));
        }

        slider {
            background: var(--fg-default);
            border-radius: var(--radius-full);
            min-width: calc(1rem * var(--global-scale));
            min-height: calc(1rem * var(--global-scale));
            margin: calc(-0.3125rem * var(--global-scale));
            border: none;
            box-shadow: var(--shadow-sm);
        }
    }

    marks {
        color: var(--fg-subtle);
        font-size: var(--text-sm);

        mark {
            indicator {
                background: var(--fg-subtle);
                min-width: calc(0.125rem * var(--global-scale));
                min-height: calc(0.5rem * var(--global-scale));
            }

            label {
                color: var(--fg-subtle);
                font-size: var(--text-md);
                font-weight: var(--weight-semibold);
            }
        }
    }

    &.marks-after marks.bottom {
        margin-top: var(--space-xs);
    }

    &.marks-before marks.top {
        margin-bottom: var(--space-xs);
    }

    &:hover trough slider {
        background: var(--fg-default);
    }

    &:disabled {
        opacity: 0.5;
    }

    &:focus-visible {
        outline: var(--focus-ring-width) solid var(--accent);
        outline-offset: calc(0.125rem * var(--global-scale));
    }
}
