.dropdown {
    all: unset;
    background: var(--bg-surface);
    border-radius: var(--rounding-container);
    border: 1px solid var(--border-default);
    min-width: calc(28rem * var(--global-scale));
}

popover.shadow > contents .dropdown {
    box-shadow:
        0 0px 5px rgba(0, 0, 0, 0.3),
        0 4px 10px rgba(0, 0, 0, 0.3),
        0 0 0 1px rgba(255, 255, 255, 0.04);
}

popover.shadow.position-top > contents .dropdown {
    box-shadow:
        0 0px 5px rgba(0, 0, 0, 0.3),
        0 -4px 10px rgba(0, 0, 0, 0.3),
        0 0 0 1px rgba(255, 255, 255, 0.04);
}

popover.shadow.position-left > contents .dropdown {
    box-shadow:
        0px 0 5px rgba(0, 0, 0, 0.3),
        -4px 0 10px rgba(0, 0, 0, 0.3),
        0 0 0 1px rgba(255, 255, 255, 0.04);
}

popover.shadow.position-right > contents .dropdown {
    box-shadow:
        0px 0 5px rgba(0, 0, 0, 0.3),
        4px 0 10px rgba(0, 0, 0, 0.3),
        0 0 0 1px rgba(255, 255, 255, 0.04);
}

popover.dropdown {
    background: transparent;
    border: none;
    box-shadow: none;
    min-width: 0;

    > arrow {
        min-width: 0;
        min-height: 0;
        border: none;
        background: none;
    }

    > contents {
        all: unset;
        background: transparent;
    }
}

.dropdown-header {
    padding: calc(var(--space-sm)) var(--space-md);

    border-bottom: 1px solid var(--border-default);
    border-top-left-radius: var(--rounding-container);
    border-top-right-radius: var(--rounding-container);

    background: var(--bg-elevated);

    .dropdown-title {
        font-size: var(--text-lg);
        font-weight: var(--weight-bold);
        color: var(--fg-default);

        image {
            -gtk-icon-size: var(--icon-md);
            color: var(--accent);
            margin-right: calc(var(--space-sm) + var(--space-xs));
        }
    }

    .dropdown-actions {
        margin-left: var(--space-sm);
    }
}

.dropdown-content {
    padding: calc(var(--space-sm) + var(--space-xs));
    font-size: var(--text-lg);
    color: var(--fg-muted);
}

.dropdown-footer {
    padding: var(--space-sm) var(--space-md);
    border-top: 1px solid var(--border-default);
    border-bottom-left-radius: var(--rounding-container);
    border-bottom-right-radius: var(--rounding-container);
    font-size: var(--text-md);
}
