@import "mixins";

.popover {
    all: unset;
    margin-top: var(--space-sm);

    * {
        all: unset;
    }

    contents {
        @include popover-contents;
    }

    .popover-header {
        @include popover-header;

        .popover-header-label {
            text-transform: uppercase;
        }
    }

    .popover-item {
        @include popover-item;

        .icon {
            @include popover-item-icon;
        }

        .labels {
            @include popover-item-labels;
        }

        .active-icon {
            @include popover-item-active-icon;
        }
    }
}
