.bar-container {
    all: unset;
    background-color: color-mix(in srgb, var(--bar-container-bg) var(--bar-button-bg-opacity), transparent);
    border-radius: var(--bar-button-rounding-element);

    &.border-top {
        box-shadow: inset 0 var(--bar-container-border-width) 0 0 var(--bar-container-border-color);
    }
    &.border-bottom {
        box-shadow: inset 0 calc(-1 * var(--bar-container-border-width)) 0 0 var(--bar-container-border-color);
    }
    &.border-left {
        box-shadow: inset var(--bar-container-border-width) 0 0 0 var(--bar-container-border-color);
    }
    &.border-right {
        box-shadow: inset calc(-1 * var(--bar-container-border-width)) 0 0 0 var(--bar-container-border-color);
    }
    &.border-all {
        box-shadow: inset 0 0 0 var(--bar-container-border-width) var(--bar-container-border-color);
    }
}
