@import "mixins";

.progress-bar {
    @include progress-bar-base;

    &.sm {
        @include progress-bar-sm;
    }

    &.lg {
        @include progress-bar-lg;
    }

    &.success {
        @include progress-bar-success;
    }

    &.warning {
        @include progress-bar-warning;
    }

    &.error {
        @include progress-bar-error;
    }
}
