.progress-bar {
    all: unset;

    trough {
        background: var(--bg-active);
        border-radius: var(--rounding-element);
        min-height: calc(0.5rem * #{$global-scale});

        progress {
            background: var(--accent);
            border-radius: var(--rounding-element);
            min-height: calc(0.5rem * #{$global-scale});
        }
    }

    &.sm {
        trough {
            min-height: calc(0.25rem * #{$global-scale});

            progress {
                min-height: calc(0.25rem * #{$global-scale});
            }
        }
    }

    &.lg {
        trough {
            min-height: calc(0.75rem * #{$global-scale});

            progress {
                min-height: calc(0.75rem * #{$global-scale});
            }
        }
    }

    &.success trough progress {
        background: var(--status-success);
    }

    &.warning trough progress {
        background: var(--status-warning);
    }

    &.error trough progress {
        background: var(--status-error);
    }
}
