@import "mixins";

button {
    @include button-base;

    &.primary {
        @include button-primary;
    }

    &.secondary {
        @include button-secondary;
    }

    &.icon {
        @include button-icon;
    }

    &.danger {
        @include button-danger;
    }

    &.ghost {
        @include button-ghost;
    }

    &.ghost-icon {
        @include button-ghost-icon;
    }

    &.link {
        @include button-link;

        &.muted {
            @include button-link-muted;
        }

        &.danger {
            @include button-link-danger;
        }
    }
}

menubutton {
    @include menubutton-base;

    &.menu {
        @include menubutton-menu;
    }
}
