$palette-bg: #11111b;
$palette-surface: #181825;
$palette-elevated: #1e1e2e;
$palette-fg: #cdd6f4;
$palette-fg-muted: #bac2de;
$palette-primary: #b4befe;
$palette-red: #f38ba8;
$palette-yellow: #f9e2af;
$palette-green: #a6e3a1;
$palette-blue: #74c7ec;

$font-sans: "Inter";
$font-mono: "JetBrains Mono";

$global-scale: 1;

$rounding-element: var(--radius-md);
$rounding-container: var(--radius-lg);
