.bar {
    background-color: color-mix(in srgb, var(--bar-bg) var(--bar-opacity), transparent);
    border-radius: var(--bar-rounding-container);
    border-style: solid;
    border-color: var(--bar-border-color);
    border-top-width: calc(var(--bar-border-top) * 1px);
    border-bottom-width: calc(var(--bar-border-bottom) * 1px);
    border-left-width: calc(var(--bar-border-left) * 1px);
    border-right-width: calc(var(--bar-border-right) * 1px);
    box-shadow: var(--bar-shadow);

    &.top {
        margin-top: calc(var(--bar-inset-edge-px) * 1px);
        margin-bottom: calc(var(--bar-shadow-margin) * 1px);
        margin-left: calc(var(--bar-inset-ends-px) * 1px);
        margin-right: calc(var(--bar-inset-ends-px) * 1px);
    }

    &.bottom {
        margin-bottom: calc(var(--bar-inset-edge-px) * 1px);
        margin-top: calc(var(--bar-shadow-margin) * 1px);
        margin-left: calc(var(--bar-inset-ends-px) * 1px);
        margin-right: calc(var(--bar-inset-ends-px) * 1px);
    }

    &.left {
        margin-left: calc(var(--bar-inset-edge-px) * 1px);
        margin-right: calc(var(--bar-shadow-margin) * 1px);
        margin-top: calc(var(--bar-inset-ends-px) * 1px);
        margin-bottom: calc(var(--bar-inset-ends-px) * 1px);
    }

    &.right {
        margin-right: calc(var(--bar-inset-edge-px) * 1px);
        margin-left: calc(var(--bar-shadow-margin) * 1px);
        margin-top: calc(var(--bar-inset-ends-px) * 1px);
        margin-bottom: calc(var(--bar-inset-ends-px) * 1px);
    }
}

.bar.top,
.bar.bottom {
    .bar-section {
        margin-top: calc(var(--bar-padding-px) * 1px);
        margin-bottom: calc(var(--bar-padding-px) * 1px);

        &.bar-left {
            margin-left: calc(var(--bar-padding-ends-px) * 1px);
        }

        &.bar-right {
            margin-right: calc(var(--bar-padding-ends-px) * 1px);
        }
    }
}

.bar.left,
.bar.right {
    .bar-section {
        margin-left: calc(var(--bar-padding-px) * 1px);
        margin-right: calc(var(--bar-padding-px) * 1px);

        &.bar-left {
            margin-top: calc(var(--bar-padding-ends-px) * 1px);
        }

        &.bar-right {
            margin-bottom: calc(var(--bar-padding-ends-px) * 1px);
        }
    }
}

.bar-group {
    background-color: color-mix(
        in srgb,
        var(--bar-group-bg) var(--bar-group-opacity),
        transparent
    );
    border-style: solid;
    border-color: var(--bar-group-border-color);
    border-top-width: calc(var(--bar-group-border-top) * 1px);
    border-bottom-width: calc(var(--bar-group-border-bottom) * 1px);
    border-left-width: calc(var(--bar-group-border-left) * 1px);
    border-right-width: calc(var(--bar-group-border-right) * 1px);
    border-radius: var(--bar-group-rounding-element);
    padding: calc(var(--bar-group-padding-px) * 1px);
}
