.bar {
    &.top,
    &.bottom {
        .bar-section {
            .bar-item + .bar-item {
                margin-left: calc(var(--bar-module-gap-px) * 1px);
            }
        }

        .bar-group {
            > .module + .module {
                margin-left: calc(var(--bar-group-module-gap-px) * 1px);
            }
        }
    }

    &.left,
    &.right {
        .bar-section {
            .bar-item + .bar-item {
                margin-top: calc(var(--bar-module-gap-px) * 1px);
            }
        }

        .bar-group {
            > .module + .module {
                margin-top: calc(var(--bar-group-module-gap-px) * 1px);
            }
        }
    }
}
